.footer{
    padding: 4rem 6rem;
    /*background-color: #811E16;*/
    background: linear-gradient(#fff,#2988d7); /*#0E1011*/
    color: black;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i{
    color: black;
    font-size: 2rem;
    margin-left: 1rem;
}
.top i:hover{
    color: white;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.bottom a{
    text-decoration: none;
    color: black;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}
.bottom a:hover{
    color: black;
}
@media screen and (max-width: 1110px) {
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
    
}