.result {
    background: linear-gradient(#2988d7 0%, #FFF 70%);
    min-height: 100vh;
    padding: 0 20px;
}

.accordion {
    max-width: 980px;
    margin: 0 auto;
}

.button {
    position: absolute;
    top: 30px;
    right: 30px;
}

.button:hover {
    transform: translateY(-10px);
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    padding-top: 20px;
    margin-bottom: 40px;
}